{% extends 'base.html' %}

{% block menu %}
<div id="menu">
	<ul>
		<li><a href="{{ url_for('index') }}" accesskey="1" title="">Inicio</a></li>
		<li><a href="{{ url_for('preview') }}" accesskey="2" title="">Vista Previa</a></li>
		<li><a href="{{ url_for('tree',idcarpeta='root') }}" accesskey="3" title="">Vista de árbol</a></li>
		<li><a href="{{ url_for('upload') }}" accesskey="4" title="">Subida simultanea</a></li>
		<li class="active"><a href="{{ url_for('contact') }}" accesskey="5" title="">Contacto</a></li>
		<li><a href="{{ url_for('logout') }}" accesskey="6" title="">Cerrar Sesión</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
<div class="preview">
	<p>Formulario de contacto no disponible.</p>
</div>
{% endblock %}